* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font-family: "Raleway", sans-serif;
    opacity: 0.70;
    background: url("/static/flanes/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.nav-link:hover {
    color: #363fbec0 !important;
    
}

.form-control {
    border: 2px solid orange;
    border-radius: 5px; 
    padding: 5px; 
}

